.node {
  width: 25px;
  height: 25px;
  outline: 1px solid rgb(175, 216, 248);
  display: inline-block;
  margin: 0;
  margin-top: 0;
}

.weight {
  background-color: rgb(255, 2, 179);
}

.start {
  background-color: red;
}
.finish {
  background-color: green;
}

.visited {
  background-color: blue;
}

.shortest-path {
  background-color: yellow;
}
.wall {
  background-color: black;
}
